[submodule "LSON"]
	path = LSON
	url = git://github.com/infogulch/LSON.git
[submodule "AsyncHttp"]
	path = AsyncHttp
	url = git://github.com/infogulch/AsyncHttp.git
[submodule "CGUI"]
	path = CGUI
	url = git://github.com/infogulch/CGUI.git
[submodule "WinHttpRequest"]
	path = WinHttpRequest
	url = git://github.com/infogulch/WinHttpRequest.git
